/* Created by: Ryan-Shaw-2
* Created on: May 2021
* This CSS file defines the style for index.html ICS2O-Unit2-01-HTML-Hello_World
*/

body {
  background-color: rgb(7, 105, 12);
}

h1 {
  background-color: darkred;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 25px;
}

#hello-world {
  color: white;
}